{% extends "layout.html" %}

{% block content %}
  <div class="card-deck w-100">
    {% for postit in postits %}
      <div class="card">
        <a target="_blank" href="{{ postit.postit_url }}"></a>
        <img class="card-img-top" src="{{ postit.postit_image }}" alt="Post-it #{{ postit.postit_id }}" />
        <div class="card-body" style="background-color: {{ postit.postit_color }} !important;">
          <h2 class="card-title">{{ postit.postit_title }}</h2>
          <p class="card-text card-desc"><em>{{ postit.postit_desc }}</em></p>
          <p class="card-text card-contentp">{{ postit.postit_content }}</p>
        </div>
        <div class="card-footer text-muted">
          <small>
            collé par {{ postit.user }}
          </small>
        </div>
      </div>

      {% if loop.index % 2 == 0 %}
        <div class="w-100 d-block"></div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block footer %}
  <small class="text-center">
  {{ pagination.links }}
  </small>
 {% endblock %}