{% extends "layout.html" %}

{% block content %}
    <h1>Nouveau Post-it</h1>

    <form class="mt-4" action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="form-row align-items-center">
            <div class="col-sm-4">
                {{ form.url.label(class_="sr-only") }}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">URL</div>
                    </div>
                    {{ form.url(class_="form-control", placeholder="https://") }}
                </div>
            </div>

            <div class="col-sm-6">
                {{ form.content.label(class_="sr-only") }}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Petit mot</div>
                    </div>
                    {{ form.content(class_="form-control") }}
                </div>
            </div>
            
            <div class="col-auto">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </div>
    </form>
{% endblock %}