{% extends "layout.html" %}

{% block content %}
    <h1>Inscription</h1>

    <form class="mt-4" action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="form-row">
            <div class="col-sm-4 my-1">
                {{ form.nickname.label(class_="sr-only") }}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    {{ form.nickname(class_="form-control", placeholder="Nom d'utilisateur") }}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-4 my-1">
                {{ form.mail.label(class_="sr-only") }}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">✉</div>
                    </div>
                    {{ form.mail(class_="form-control", placeholder="E-mail") }}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-4 my-1">
                {{ form.password.label(class_="sr-only") }}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Mot de passe</div>
                    </div>
                    {{ form.password(class_="form-control") }}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-6 my-1">
                {{ form.password_confirm.label(class_="sr-only") }}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Mot de passe (confirmation)</div>
                    </div>
                    {{ form.password_confirm(class_="form-control") }}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-auto my-1">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </div>
    </form>
{% endblock %}