[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"

[packages]
sqlalchemy = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-wtf = "*"
werkzeug = "*"
flask-paginate = "*"
pytz = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
