[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"
black = "*"

[packages]
sqlalchemy = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-wtf = "*"
werkzeug = "*"
flask-paginate = "*"
pytz = "*"
extraction = "*"
lxml = "*"
requests = "*"
timeago = "*"
whitenoise = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
